        <a ng-click="redirectToCreatePerson()" class="btn btn-small btn-primary">Create New Person</a>

        <div>
            <h3>Filter Persons</h3>
            <p>
                FirstName:
                <input type="text" ng-model="firstNameFilter">
            </p>
            <p>
                LastName:
                <input type="text" ng-model="lastNameFilter">
            </p>
        </div>
        <br/>

        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th></th>
                <td></td>
            </tr>

            <tr ng-repeat="person in persons  | filter: firstNameFilter | filter:lastNameFilter |orderBy:'firstName'">
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.sex }}</td>
                <td><a ng-click="redirectToUpdatePerson(person._id)" class="btn btn-small btn-primary">edit</a></td>
                <td><a ng-click="deletePerson(person._id)" class="btn btn-small btn-danger">delete</a></td>
            </tr>
        </table>
